<div class="row" style="display: flex; justify-content: center;">
    <table cellspacing="2" border="1" cellpadding="5" width="600" style="text-align:center" >
        <thead>
        <tr>
        <th>id</th>
        <th>name</th>
        <th>count in storage</th>
        <th>count in store</th>
        <th>Actions</th>
        </tr>
        </thead>
        <tbody ng-repeat="product in vm.phones " ng-click="vm.test($index)">
        <tr>
        <td>{{$index +1}}</td>
        <td>{{product}}</td>
        <td>2</td>
        <td>1</td>
        <td>
           <button ng-click="vm.add()">Add to Cart</button>
        </td>
        </tr>
        </tbody>
        </table>
</div>
