<div  style="width: 800px; margin-left: 290px;">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Available</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody ng-repeat="item in vm.items">
            <tr>
                <td>{{item.text}}</td>
                <td>{{item.price}}</td>
                <td>{{item.available}}</td>
                <td>
                    <button class="btn btn-success" ng-click="vm.add($index)">
                        Add to Cart
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>