<div class="row" style="display: flex; justify-content: center;">
    <table cellspacing="2" border="1" cellpadding="5" width="600" style="text-align:center">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody ng-repeat="cartItem in vm.cartItems track by $index">
            <tr>
                <td>{{cartItem.text}}</td>
                <td>{{cartItem.price}}</td>
                <td>
                    <button ng-click="vm.clear($index)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>